<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>登录</title>
    <link href="/stylesheets/login_register.css" rel="stylesheet">
</head>
<body class="background login-background">
    <div class="form-container form-container-login">
        <div class="row">
            <div class="column"></div>
            <div class="column" style="background-color: #ffffff">
                <div style="padding-top: 1rem">
                    <div class="text-center">
                        <h1 class = web-name >INSTA</h1>
                    </div>
                </div>
                <div style="padding: 1rem 3rem 15rem;">
                    <div class="text-center">
                        <h2 class="welcome">Great to see you again!</h2>
                    </div>
                    <form >
                        <div class="form-item">
                            <input type="email" class="form-control" id="login_email" required = "required"
                                   name="login_email" placeholder="E-MAIL">
                        </div>
                        <div class="form-item">
                            <input type="password" class="form-control" id="login_pwd" required = "required"
                                   name="login_pwd" placeholder="PASSWORD">
                        </div>
                        <div class="form-item">
                            <div style="margin-top: 0.1rem">
                                <input type="checkbox" class="checkbox" id="check">
                                <label class="label" for="check">Remember Me</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-login"
                                id="login_button">登录
                        </button>
                        <hr>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="jump" href="register">Create an Account</a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/register_login.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $("#login_button").click(function () {

            if(checkLogin() === false){
                return;
            }
            console.log("ajax begins");
            $.ajax({
                url: "/login",
                type: "POST",
                data: {
                    login_email: $("#login_email").val(),
                    login_pwd: $("#login_pwd").val()
                },
                success: function (res) {
                    console.log(res);
                    if(res.code === 200){
                        location.href = 'home';
                    }else{
                        alert(res.msg);
                        location.reload();
                    }
                },
                error: function () {
                    alert('访问失败');
                }
            });
        });
    </script>
</body>
</html>