<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>login</title>
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/slidercaptcha.min.css" rel="stylesheet" />
    <link href="/stylesheets/login_register.css" rel="stylesheet">
</head>
<body class="background login-background">
    <div class="form-container form-container-login">
        <div class="row">
            <div class="column"></div>
            <div class="column" style="background-color: #ffffff">
                <div style="padding-top: 1rem">
                    <div class="text-center">
                        <h1 class = web-name >INSTA</h1>
                    </div>
                </div>
                <div id = "login_form" style="padding: 1rem 3rem 1rem;">
                    <div class="text-center">
                        <h2 class="welcome">Great to see you again!</h2>
                    </div>
                    <form >
                        <div class="form-item">
                            <input type="email" class="form-control" id="login_email" required = "required"
                                   name="login_email" placeholder="E-MAIL">
                        </div>
                        <div class="form-item">
                            <input type="password" class="form-control" id="login_pwd" required = "required"
                                   name="login_pwd" placeholder="PASSWORD">
                        </div>
                        <div class="form-item">
                            <div style="margin-top: 0.1rem">
                                <input type="checkbox" class="checkbox" id="check">
                                <label class="label" for="check">Remember Me</label>
                            </div>
                        </div>
                        <div class="container-fluid" id = "verification_block">
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="slidercaptcha card">
                                        <div class="card-header">
                                            <span>Verification</span>
                                        </div>
                                        <div class="card-body">
                                            <div id="captcha"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-login" style="display: none"
                                id="login_button">登录
                        </button>
                        <hr>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="jump" href="register">Create an Account</a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/register_login.js"></script>
    <script src="/lib/longbow.slidercaptcha.js"></script>
    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script src="/lib/jquery.md5.js"></script>
    <script>
        var captcha = sliderCaptcha({
            id: 'captcha',
            loadingText: 'Loading',
            failedText: 'Try again',
            barText: 'Swipe to fill the image',
            repeatIcon: 'fa fa-redo',
            setSrc: function() {
                return '/captcha/Pic' + Math.round(Math.random() * 10) + '.jpg';
            },
            onSuccess: function() { //成功事件
                setTimeout(function() {
                    $(document.getElementById('verification_block')).hide(); // 隐藏
                    $(document.getElementById('login_button')).show(); // 显示
                    $(document.getElementById('login_form').setAttribute("style","padding: 1rem 3rem 15rem;"));
                }, 1000);
            },
            // 使用服务端
            remoteUrl: "/login/verify"
        });
        $("#login_button").click(function () {

            if(checkLogin() === false){
                return;
            }
            var email = $("#login_email").val();
            var salt = email;
            var saltPassword = salt.charAt(0)+$("#login_pwd").val()+salt.charAt(1);
            var password = $.md5(saltPassword);
            $.ajax({
                url: "/login",
                type: "POST",
                data: {
                    login_email: email,
                    login_pwd: password
                },
                success: function (res) {
                    console.log(res);
                    if(res.code === 200){
                        location.href = 'home';
                    }else{
                        alert(res.msg);
                        location.reload();
                    }
                },
                error: function () {
                    alert('访问失败');
                }
            });
        });
    </script>
</body>
</html>