<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>register</title>
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/slidercaptcha.min.css" rel="stylesheet" />
    <link href="/stylesheets/login_register.css" rel="stylesheet">
</head>
<body class="background register-background">
    <div class="form-container form-container-register">
        <div class="row">
            <div class="column" style="background-color: #ffffff">
                <div style="padding-top: 1rem">
                    <div class="text-center">
                        <h1 class=web-name>INSTA</h1>
                    </div>
                </div>
                <div id = "register_form" style="padding: 1rem 3rem 1rem;">
                    <div class="text-center">
                        <h2 class="welcome">Get started for FREE!</h2>
                    </div>
<!--                    <form method="POST" onsubmit="return checkRegister()" action="http://localhost:3000/register">-->
                    <form >
                        <div class="form-item">
                            <input class="form-control" id="register_name" required="required" name="register_name"
                                   placeholder="USERNAME">
                        </div>
                        <div class="form-item">
                            <input class="form-control" id="register_email" required="required" name="register_email"
                                   placeholder="E-MAIL">
                        </div>
                        <div class="form-item">
                            <input class="form-control" type="password" id="register_pwd" required="required"
                                   name="register_pwd"
                                   placeholder="PASSWORD">
                        </div>
                        <div class="form-item">
                            <input class="form-control" type="password" id="re_register_pwd" required="required"
                                   name="re_register_pwd"
                                   placeholder="REPEAT PASSWORD">
                        </div>
                        <div class="container-fluid" id = "verification_block">
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="slidercaptcha card">
                                        <div class="card-header">
                                            <span>Verification</span>
                                        </div>
                                        <div class="card-body">
                                            <div id="captcha"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <button type="submit" class="btn btn-register"-->
                        <button type="button" class="btn btn-register" style="display: none"
                                id="register_button">SIGN UP NOW!
                        </button>
                        <hr>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="jump" href="login">Already Have an Account</a></div>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
    <script src="/javascripts/register_login.js"></script>
    <script src="/lib/longbow.slidercaptcha.js"></script>
    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script src="/lib/jquery.md5.js"></script>
    <script>
        var captcha = sliderCaptcha({
            id: 'captcha',
            loadingText: 'Loading',
            failedText: 'Try again',
            barText: 'Swipe to fill the image',
            repeatIcon: 'fa fa-redo',
            setSrc: function() {
                return '/captcha/Pic' + Math.round(Math.random() * 10) + '.jpg';
            },
            onSuccess: function() { //成功事件
                setTimeout(function() {
                    $(document.getElementById('verification_block')).hide(); // 隐藏
                    $(document.getElementById('register_button')).show(); // 显示
                    $(document.getElementById('register_form').setAttribute("style","padding: 1rem 3rem 15rem;"));
                }, 1000);
            },
        });
        $("#register_button").click(function () {
            if(checkRegister() === false){
                return;
            }
            var email = $("#register_email").val();
            var name = $("#register_name").val();
            var salt = email;
            var saltPassword = salt.charAt(0)+$("#register_pwd").val()+salt.charAt(1);
            var password = $.md5(saltPassword);
            $.ajax({
                url: "/register",
                type: "POST",
                data: {
                    register_name: name,
                    register_email: email,
                    register_pwd: password
            },
            success: function (res) {
                console.log(res);
                if(res.code === 200){
                    location.href = 'home';
                }else{
                    alert(res.msg);
                    location.reload();
                }
            },
            error: function () {
                alert('访问失败');
            }
            });
        });
    </script>
</body>
</html>