<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>subpage</title>
    <link href="/stylesheets/subpage.css" rel="stylesheet">
    <link href="/stylesheets/lightbox.css" rel="stylesheet">
</head>
<body>
<!--    rc="./images/1-1.jpg" alt="" width="100px" data-role="lightbox" data-id="fdafasafaasfad" data-group="group-1"
 * data-source="./images/1-1.jpg" data-caption="图片描述xxx1"-->
    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script src="/javascripts/lightBox.js"></script>
    <script src="/javascripts/jpgs.js"></script>
    <div class="main-body">
        <div class="top">
            <header>
                <div class="web-name">INSTA</div>
                <ul>
                    <li><a href="home">HOME</a></li>
                    <li><a href="login">LOGIN</a></li>
                    <li><a href="register">REGISTER</a></li>
                </ul>
            </header>
        </div>
        <div class="content">
            <div class="container">
                <div class="main-content">
                    <h1 class="blog-title">鬼刀壁纸</h1>
                    <div class="block-about-author">
                        <span class="name">
                            by WLOP
                        </span>
                        <span class="not-name">January. 01, 2021</span>
                        <span class="not-name">2 views</span>
                    </div>
                    <span class="blog-desc">&nbsp;&nbsp;放点鬼刀的壁纸作为第四次作业展示<br></span>
                    <span>第一张</span>
                    <div class="blog-pic">
                        <img style="cursor: zoom-in" class="list-item-img"  data-id="img1" src="/images/1@mid.jpg" data-role="lightbox" data-source="/images/1@origin.jpg" data-caption="LunarNewYear1_8k" data-group="group-1">
                    </div>
                    <span><br><br></span>
                    <span>第二张</span>
                    <div class="blog-pic">
                        <img style="cursor: zoom-in" class="list-item-img"  data-id="img2"  data-src="/images/2@mid.jpg" data-role="lightbox" data-source="/images/2@origin.jpg" data-caption="p_d_yan_8k" data-group="group-1">
                    </div>
                    <span><br><br></span>
                    <span>第三张</span>
                    <div class="blog-pic">
                        <img class="list-item-img"  data-src="/images/3@mid.jpg">
                    </div>
                    <span><br><br></span>
                    <span>第四张</span>
                    <div class="blog-pic">
                        <img class="list-item-img"  data-src="/images/4@mid.jpg">
                    </div>
                    <span><br><br></span>
                    <span>第五张</span>
                    <div class="blog-pic">
                        <img class="list-item-img"  data-src="/images/5@mid.jpg">
                    </div>
                    <span><br><br></span>
                    <span>第六张</span>
                    <div class="blog-pic">
                        <img class="list-item-img"  data-src="/images/6@mid.jpg">
                    </div>
                    <span><br><br></span>
                    <span>第七张</span>
                    <div class="blog-pic">
                        <img class="list-item-img"  data-src="/images/7@mid.jpg">
                    </div>
                    <span><br><br></span>
                    <span>第八张</span>
                    <div class="blog-pic">
                        <img class="list-item-img"  data-src="/images/8@mid.jpg">
                    </div>
                    <span><br><br></span>
                    <span>第九张</span>
                    <div class="blog-pic">
                        <img class="list-item-img"  data-src="/images/9@mid.jpg">
                    </div>
                    <span><br><br></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>