<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>subpage</title>
    <link href="/stylesheets/subpage.css" rel="stylesheet">
</head>
<body>
    <div class="main-body">
        <div class="top">
            <header>
                <div class="web-name">INSTA</div>
                <ul>
                    <li><a href="home">HOME</a></li>
                    <li><a href="login">LOGIN</a></li>
                    <li><a href="register">REGISTER</a></li>
                </ul>
            </header>
        </div>
        <div class="content">
            <div class="container">
                <div class="main-content">
                    <h1 class="blog-title">日本伊豆半岛的海风｜富士山的大雪｜东京的日落晴空</h1>
                    <div class="block-about-author">
                        <span class="name">
                            by 潘太太v
                        </span>
                        <span class="not-name">April. 04, 2020</span>
                        <span class="not-name">28181 views</span>
                    </div>
                    <span class="blog-desc">&nbsp;&nbsp;第二次前往日本 ，不紧不慢，总有那么些难忘的瞬间～<br></span>
                    <span class="link">内容摘抄自：</span>
                    <a class="link" href="http://www.mafengwo.cn/i/19028104.html">📍 原博文<br><br></a>
                    <span>📍 热 海阳 光海滩<br>陌生的人默契地“交流”了好几分钟～</span>
                    <div class="blog-pic">
                        <img src="/images/blog-pic1.jpg" style="width:50%">
                    </div>
                    <span><br><br></span>
                    <span>📍热海<br>海边小城，想说今天的阳光好美。</span>
                    <div class="blog-pic">
                        <img src="/images/blog-pic2.jpg" style="width:50%">
                    </div>
                    <span><br><br></span>
                    <span>📍城崎海岸<br>和大海说个秘密，没有人会知道。</span>
                    <div class="blog-pic">
                        <img src="/images/blog-pic3.jpg" style="width:50%">
                    </div>
                    <span><br><br></span>
                    <span>📍伊豆仙人掌动物园<br>水豚君冬日温泉，见过最会享受的呆萌动物。</span>
                    <div class="blog-pic" style="display: flex;justify-content: space-between ">
                        <img src="/images/blog-pic4.jpg" style="width:50%">
                    </div>
                    <span><br><br></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>